.wwc-container {
    background-color: #1abc9c;
    color: #5f5f5f;
    height: 150px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 35pt;
}

.interested {
    margin-left: 60vw;
    transition: margin 4s;
}

.notInterested {
    margin-left: 0;
    transition: margin 4s;
}