.wwc-container {
    background-color: #1abc9c;
    color: #5f5f5f;
    height: 150px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
    font-size: 35pt;
}

.details {
    border: 1px solid black;
    width: 50%;
    float: left;
    height: 60vh;
    margin-left: 50px;
}

.list {
    width: 40%;
    float: left;
    height: 60vh;
}